---
import "@styles/markdown.css";
import Content from "@components/contact-me.md";
import BaseHead from "@layouts/BaseHead.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
---

<BaseHead>
    <HomeLayout>
        <div class="in-markdown">
            <Content />
        </div>
    </HomeLayout>
</BaseHead>

<style>
    .in-markdown {
        max-width: 800px;
        margin: 0 auto;
        padding: 64px 32px 32px 32px;
    }
</style>
