---
import { logoToColor } from "@lib/utils";
import { Icon } from "astro-icon/components";

const socials = [
    {
        name: "YouTube",
        icon: "youtube",
        url: "https://youtube.com/@silyn-sounds",
    },
    {
        name: "Bluesky",
        icon: "bluesky",
        url: "https://bsky.app/profile/silyn.art",
    },
    {
        name: "Bandcamp",
        icon: "bandcamp",
        url: "https://silyn.bandcamp.com/",
    },
    {
        name: "Tidal",
        icon: "tidal",
        url: "https://tidal.com/browse/artist/19868293",
    },
    {
        name: "Spotify",
        icon: "spotify",
        url: "https://open.spotify.com/artist/6Z6Z3Z6Z6Z6Z6Z6Z6Z6Z6Z",
    },
    {
        name: "Newgrounds",
        icon: "newgrounds",
        url: "https://silynsounds.newgrounds.com/",
    },
    {
        name: "Amazon Music",
        icon: "amazon",
        url: "https://music.amazon.com/artists/B089NNRPCP/silyn",
    },
    {
        name: "Apple Music",
        icon: "applemusic",
        url: "https://music.apple.com/us/artist/silyn/1516664755",
    },
    {
        name: "Instagram",
        icon: "instagram",
        url: "https://www.instagram.com/silynmusic",
    },
    {
        name: "Deezer",
        icon: "deezer",
        url: "https://www.deezer.com/fr/artist/96743472",
    },
    {
        name: "SoundCloud",
        icon: "soundcloud",
        url: "https://soundcloud.com/silyn",
    },
    {
        name: "YouTube Music",
        icon: "youtubemusic",
        url: "https://music.youtube.com/channel/UCx0fFC5-j23fpgzZDBEJEPw",
    },
    {
        name: "x.com",
        icon: "twitter",
        url: "https://twitter.com/SilynSounds",
    },
];
---

<h2>Follow me!</h2>
<p>
    I'm mostly active on <strong>YouTube</strong> and
    <strong>Bluesky</strong>, but you may occasionally find me talking on a few
    other platforms.
</p>
<ul>
    {
        socials.map((social) => (
            <li>
                <a
                    href={social.url}
                    target="_blank"
                    style={`--social-hover-color: ${logoToColor(social.icon)};`}
                    aria-label={social.name}
                >
                    <Icon name={social.icon} />
                </a>
            </li>
        ))
    }
</ul>

<style>
    h2 {
        font-size: 3rem;
        font-weight: bolder;
        margin-top: 2rem;
        text-align: center;
    }

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        flex-wrap: wrap;
        font-size: 2.5rem;
        padding: 0;
        justify-content: center;
        margin: 32px;
    }

    p {
        padding: 0 32px;
        font-size: 1rem;
    }

    ul a {
        cursor: pointer;
        color: var(--color-black);
        transition: color 0.2s;
    }

    ul a:hover {
        color: var(--social-hover-color);
    }
</style>
