---
import "@styles/reset.css";
import "@styles/constants.css";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="en">
    <head>
        <!-- Basic meta tags. -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- Page identity. -->
        <link rel="icon" type="image/png" href="/.static/favicon.png" />
        <title>Silyn</title>
    </head>
    <body>
        <SpeedInsights />
        <slot />
    </body>
</html>
